src/main/mule/gitpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="baf18260-cd2b-4314-91de-0b10e66109a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitpocFlow1" doc:id="aa025779-0551-42a8-b6c9-be35ab162c7b" >
		<logger level="INFO" doc:name="Logger" doc:id="7c5850eb-ab98-4425-91d6-88b7259b6a5b" />
		<logger level="INFO" doc:name="Logger" doc:id="1de3d039-faf6-42cf-aabb-24fa566894e7" />
		<logger level="INFO" doc:name="Logger" doc:id="90774647-9999-4ba0-a825-df7439588af4" />
	</flow>
	<flow name="gitpocFlow" doc:id="81aca2da-d3cd-4979-bb82-d0e4cd01bc96" >
		<http:listener doc:name="Listener" doc:id="d22e4f12-feca-4bae-9646-6c06149134ae" config-ref="HTTP_Listener_config" path="test"/>
		<ee:transform doc:name="Transform Message" doc:id="2bc6f697-972f-4c46-80c9-e790b1592685" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"I am going to push my first git project"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ddbb9064-52a4-4553-a243-ce5575d3b2fd" name="gitpocFlow1"/>
		<logger level="INFO" doc:name="Logger" doc:id="a65e1ee2-fcb0-463b-9059-5367e2a71018" />
		<logger level="INFO" doc:name="Logger" doc:id="acf4f0cd-2ecc-425d-bbf6-bdef2aaca831" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3d60b1d1-d91e-4f09-a670-5bc1d89f05f4" />
	</flow>
</mule>
